<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <title>${title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- In real-world webapps, css is usually minified and
         concatenated. Here, separate normalize from our code, and
         avoid minification for clarity. -->
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/html5bp.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    
  </head>
  <body>
    <a type="button" class="signOutBtn btn-lg btn" onclick="signout()">Sign Out</a>
    <br>
    <br>
    <br>
    <br>
  <div class="container">
  <!--header changes once time is selected.-->
    <div class="appointmentHeader">
        <h1 class="appointmentHeaderMessage">Make an appointment</h1>
        <h3 class="appointmentTimeHeader">Pick a time</h3>
    </div>
  <div class="row">
    <!--NEED LOOP FOR AVAILABLE APPOINTMENTS, class="time", href="confirmAppointment.html"?<encodedAppointmentTime>-->
    <!--ex:<button class="time" href="confirmAppointment.html">
    <h4>"time"</h4></button>-->
    <!--If there are no available times, leave a message and make button to go back-->
    <div class="col-md-7 col-md-offset-3">${aptTimes}</div>
    </div>
    <div class="row">
    <div class="confirmAptContainer panel">
    	<h2 id="chosenTime"></h2>
        <h3> What is your question?</h3>
        <div class="quetionContainer">
                <h4 id="currAss" style="text-align:center;">${currAss}</h4>
                <div class="questions" id="questionsForApt">
                ${questions}
            	</div>
        </div>

        <div class="otherQuestion">
            <label for="other">Other</label>
            <input type="text" class="form-control" id="otherQ" placeholder="Describe Your Question here">
        </div>
        <br>
        <button class="btn btn-primary confirmAptBtn" onclick="confirmApt()">Confirm Appointment</button>
    </div>
  </div>
  </div>

     <!-- Again, we're serving up the unminified source for clarity. -->
     <script src="../js/jquery-2.1.1.js"></script>
     <script src="../js/main.js"></script>
     <script src="../js/makeAppointment.js"></script>
     <script src="../js/bootstrap.min.js"></script>

  </body>
  <!-- See http://html5boilerplate.com/ for a good place to start
       dealing with real world issues like old browsers.  -->
</html>
