<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <title>${title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- In real-world webapps, css is usually minified and
         concatenated. Here, separate normalize from our code, and
         avoid minification for clarity. -->
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/html5bp.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!--need to change home href constantly-->
          <a class="navbar-brand" href="taOnHours.html">Home</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="myClasses.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">My Classes <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Class1</a></li>
                <li><a href="#">Class2</a></li>
                <li><a href="#">Class3</a></li>
                <li class="divider"></li>
                <li><a href="#">See all classes</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="landingPage.html">Sign Out</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  <div class="container">
     <h1 id="user"> ${user}</h1><h1> Classes</h1>

    <!--div for classes-->
     <div class="user_classes panel">

     <!--on hours sign up button (take you to that class' sign up for hours pages)-->

     <div class="panel-body">
     <table class="table table-hover">
    <thead>
        <tr>
        <th>Course</th>
        <th>Position</th>
        <th>On Hours</th>
        </tr>
        </thead>
            <tbody>
              <tr class="clickable-row">
              <td class="courseId">CS032</td>
              <td>Student</td>
              <td>No</td>
              </tr>
              <tr class="clickable-row">
              <td class="courseId">CS022</td>
              <td>TA</td>
              <td>Yes</td>
              </tr>
            </tbody>
        </table>
             <a class="btn btn-primary btn-sm addClassButton" href="addCourses">Add a class</a>
     <!--loop through classes to display, add a button to drop class for each-->
      <div class="class_list">


      </div>
      </div>
     </div>

</div>


     <!-- Again, we're serving up the unminified source for clarity. -->
     <script src="../js/jquery-2.1.1.js"></script>
     <!-- <script src="js/main.js"></script>-->
     <script src="../js/myCourses.js"></script>
  </body>
  <!-- See http://html5boilerplate.com/ for a good place to start
       dealing with real world issues like old browsers.  -->
</html>
