
    <!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <title>${title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- In real-world webapps, css is usually minified and
         concatenated. Here, separate normalize from our code, and
         avoid minification for clarity. -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/html5bp.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    
  </head>
  <body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="welcomeStudent.html">Home</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">My Classes <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Class1</a></li>
            <li><a href="#">Class2</a></li>
            <li><a href="#">Class3</a></li>
            <li class="divider"></li>
            <li><a href="#">See all classes</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Sign Out</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
  <div class="container">
    <div class="row">
    <div class="col-md-6 col-md-push-3">
      <h3 style="text-align: center;">How do you want to be notified?</h3>


      <div class="col-md-12">
      
        <div class="radios col-md-7">
          <label class="radio-inline">
          <input type="radio" name="inlineRadioOptions" id="inlineRadioZ" value="zWrite"> Z-write
        </label>
        <label class="radio-inline">
          <input type="radio" name="inlineRadioOptions" id="inlineRadioPerson" value="inPerson"> In Person
        </label>
        </div>
      </div>
      <br>
      <div class="col-md-12 col-md-push-2">
        <div class="or col-md-3" ></div>
        <div class="col-md-1" style="text-align: center;"><p>or</p></div>
        <div class="or col-md-3"></div>
        </div>

    </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-push-3">

        <h3 style="text-align: center;"> What is your question?</h3>
        <div class="quetionContainer">
            <div class="categories">
                <h4></h4>
            </div>
        </div>

        <div class="col-md-12" id="otherQuestion">
            <form>
              <div class="form-group">
                <label for="other">Other</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Describe your question">
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
      </div>
    </div>
  </div>
     <!-- Again, we're serving up the unminified source for clarity. -->
     <script src="js/jquery-2.1.1.js"></script>
     <script src="js/main.js"></script>
     <script src="js/bootstrap.min.js"></script>

  </body>
  <!-- See http://html5boilerplate.com/ for a good place to start
       dealing with real world issues like old browsers.  -->
</html>
