<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <title>${title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- In real-world webapps, css is usually minified and
         concatenated. Here, separate normalize from our code, and
         avoid minification for clarity. -->
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/html5bp.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="taHoursSetUp.html">Home</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">My Classes <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Class1</a></li>
                <li><a href="#">Class2</a></li>
                <li><a href="#">Class3</a></li>
                <li class="divider"></li>
                <li><a href="#">See all classes</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="landingPage.html">Sign Out</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  <div class="container">
  <!--header changes once time is selected.-->

<div class="row">
<div class="asgnInterview col-sm-4">
  <h1> Assignments </h1>
  <div class="form">
        <form method="GET" action="/addAssignment">
         <h4>Please input each assignment's name, start and end date</h4>
          <div class="form-group asgn">

            <div id="assignmentFormGroups">
            <div id="assignment1">
            <label class="col-sm-4" for="assignmentName">Name</label>
            <input class="col-sm-6" type="text" class="form-control" id="asgnName1" placeholder="Bacon">
            <br>
            <br>
            <label class="col-sm-4" for="start">Start Date</label>
            <input class="col-sm-6" type="text" class="form-control" id="asgnStartDate1" placeholder="MM/DD/YYYY">
            <br>
            <br>
            <label class="col-sm-4 col-pull-1" for="end">End Date</label>
            <input class="col-sm-6" type="text" class="form-control" id="asgnEndDate1" placeholder="MM/DD/YYYY">

            <br>
            </div>
            </div>
        </div>
            <button onclick="addAsgnHTML()" type="button" class="btn btn-default btn-sm">
              <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add Assignment
            </button>
            <a onclick="removeAsgn()" type="button" id="removeAsgnBtn" class="btn btn-danger btn-sm">
              <span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span> Remove Assignment
            </a>
            <br>
            <br>
          <a onclick="saveAssignments()" class="btn btn-primary btn-block">Save Assignments</a>
        </form>
    </div>
  </div>
  <div class="examInterview col-sm-4">
  <h1>Exams</h1>
    <div class="form">
        <h4>Are there exams in this class?</h4>
            <div class="loginRadios radio">
            <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="yesExamRadio" value="yes"> Yes
          </label>
          <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="noExamRadio" value="no" checked> No
          </label>
          </div>
      <form id="examForm" method="GET" action="/addExam">
         <h4>Please input each exams's name and date</h4>
          <div class="form-group exam">
            <div id="examFormGroups">
            <div id="exam1">
            <label class="col-sm-4" for="examName">Name</label>
            <input class="col-sm-6" type="text" class="form-control" id="examName1" placeholder="Bacon">
            <br>
            <br>
            <label class="col-sm-4" for="start">Start Date</label>
            <input class="col-sm-6" type="text" class="form-control" id="examStartDate1" placeholder="MM/DD/YYYY">
            <br>
            <br>
            <label class="col-sm-4 col-push-1" for="start">End Date</label>
            <input class="col-sm-6" type="text" class="form-control" id="examEndDate1" placeholder="MM/DD/YYYY">

            <br>
            <br>
            </div>
            </div>
        </div>
            <button onclick="addExamHTML()" type="button" class="btn btn-default btn-sm">
              <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add Exam
            </button>
            <a onclick="removeExam()" type="button" id="removeExamBtn" class="btn btn-danger btn-sm">
              <span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span> Remove Exam
            </a>
            <br>
            <br>
          <a onclick="saveExams()" class="btn btn-primary btn-block">Save Exams</a>
      </form>
          </div>
  </div>

  <div class="labInterview col-sm-4">
  <h1>Labs</h1>
    <div class="form">
        <h4>Are there labs in this class?</h4>
            <div class="loginRadios radio">
            <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="yesLabRadio" value="yes"> Yes
          </label>
          <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="noLabRadio" value="no" checked> No
          </label>
          </div>
      <form id="labForm" method="GET" action="/addLab">
         <h4>Please input each lab's name and date</h4>
          <div class="form-group lab">
            <div id="labFormGroups">
            <div id="lab1">
            <label class="col-sm-4" for="labName">Name</label>
            <input class="col-sm-6" type="text" class="form-control" id="labName1" placeholder="Bacon">
            <br>
            <br>
            <label class="col-sm-4" for="start">Start Date</label>
            <input class="col-sm-6" type="text" class="form-control" id="labStartDate1" placeholder="MM/DD/YYYY">
            <br>
            <br>
            <label class="col-sm-4 col-push-1" for="start">End Date</label>
            <input class="col-sm-6" type="text" class="form-control" id="labEndDate1" placeholder="MM/DD/YYYY">

            <br>
            <br>
            </div>
            </div>
        </div>
            <button onclick="addLabHTML()" type="button" class="btn btn-default btn-sm">
              <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add Lab
            </button>
            <a onclick="removeLab()" type="button" id="removeLabBtn" class="btn btn-danger btn-sm">
              <span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span> Remove Lab
            </a>
            <br>
            <br>
          <a onclick="saveLabs()" class="btn btn-primary btn-block">Save Labs</a>
      </form>
          </div>
  </div>

  <!--should ta's individually build in their hours?-->
  </div>
</div>
       <!-- Again, we're serving up the unminified source for clarity. -->
     <script src="../js/jquery-2.1.1.js"></script>
     <script src="../js/main.js"></script>
     <script = src="../js/taCourseSetUp.js"></script>
     <script src="../js/bootstrap.min.js"></script>

  </body>
  <!-- See http://html5boilerplate.com/ for a good place to start
       dealing with real world issues like old browsers.  -->
</html>
