<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <title>${title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- In real-world webapps, css is usually minified and
         concatenated. Here, separate normalize from our code, and
         avoid minification for clarity. -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/html5bp.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    
  </head>
  <body>
    <a type="button" class="signOutBtn btn-lg btn" onclick="signout()">Sign Out</a>
    <br>
    <br>
    <br>
    <br>
  <div class="container">
  <!--header changes once time is selected.-->
<div class="container">
  <h1> Let's set up hours </h1>
  <div class="form createClass">
        <form>

          <div class="form-group">
            <label for="classTitle">Class Title</label>
            <input type="text" class="form-control" id="courseName" placeholder="Intro to Software Engineering">
          </div>
          <div class="form-group">
            <label for="classID">Class ID</label>
            <input type="text" class="form-control" id="courseID" placeholder="CS032">
          </div>
          <a onclick="createClass()" class="btn btn-primary btn-block">Build Hours</a>
        </form>
    </div>
  </div>

  </div>

     <!-- Again, we're serving up the unminified source for clarity. -->
     <script src="js/jquery-2.1.1.js"></script>
     <!-- <script src="js/main.js"></script>-->
     <script src="js/createClass.js"></script>
     <script src="js/bootstrap.min.js"></script>

  </body>
  <!-- See http://html5boilerplate.com/ for a good place to start
       dealing with real world issues like old browsers.  -->
</html>
