<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <title>${title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- In real-world webapps, css is usually minified and
         concatenated. Here, separate normalize from our code, and
         avoid minification for clarity. -->
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/html5bp.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    
  </head>
  <body>
    <a type="button" class="signOutBtn btn-lg btn" onclick="startAnalytics()">Analytics</a>
    <br>
    <br>
    <br>
    <br>
  <div class="container">
       <h1 id="course"> ${course}</h1>
  <div class="assignments">

     <h1> Assignments</h1>

    <!--div for classes-->
     <div class="user_classes panel">

     <!--on hours sign up button (take you to that class' sign up for hours pages)-->

          <div class="panel-body" >
     	<div id="assignmentsCoursePanel">
				${allAss}
					
      </div>
      <a class="btn btn-primary btn-sm editCourseBtn" data-toggle="modal" data-target="#addAssModal">New Assignment</a>
		</div>
            <div class="modal fade" id="assModal" tabindex="-1" role="dialog" aria-labelledby="assModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-lg">
                        <div class="modal-content">

                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button><br>
                            <h4 class="modal-title" id="assRelease" style="color: #000; text-align: center; font-weight:bold;">Edit</h4>
                          </div>
                          <div class="modal-body">
                                        <!-- <form class="editCourses_form" id="timeLimit_form" action="taHoursSetUp.html" method="POST"> -->
                              <div class="row">
                              <div class="col-sm-12" id="editCourseModalDiv">
                                 <form class="edit_form" id="edit_course_form">
						            <label class="col-sm-5" for="start">Start Date</label>
						            <input class="col-sm-6" type="text" class="form-control" id="asgnStartDate">
						            <br>
						            <br>
						            <label class="col-sm-5" for="end">End Date</label>
						            <input class="col-sm-6" type="text" class="form-control" id="asgnEndDate">
						
						            <br>
												<br>
												<br>
                                                <a class="btn btn-primary btn-block editCourseModalBtn" id="changeAssBtn" data-dismiss="modal" onclick="changeAss()">Change Assignment</a>
                                                <br>
                                                <br>
                                                <a class="btn btn-danger btn-block editCourseModalBtn" id="removeAssBtn" data-dismiss="modal" onclick="removeAss()">Remove Assignment</a>
                                        </form>
                                                            </div>
                          </div>
                          </div>
                          </div>
                          </div>
                          </div>

            <div class="modal fade" id="addAssModal" tabindex="-1" role="dialog" aria-labelledby="addAssModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-lg">
                        <div class="modal-content">

                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button><br>
                            <h4 class="modal-title" id="addAssRelease" style="color: #000; text-align: center; font-weight:bold;">Create a new assignment</h4>
                          </div>
                          <div class="modal-body">
                                        <!-- <form class="editCourses_form" id="timeLimit_form" action="taHoursSetUp.html" method="POST"> -->
                              <div class="row">
                              <div class="col-sm-12" id="editCourseModalDiv">
                                 <form class="edit_form" id="edit_course_form">
                                    <label class="col-sm-5" for="name">Name</label>
						            <input class="col-sm-6" type="text" class="form-control" id="newAsgnName" placeholder="Maps">
						            <br>
						            <br>
						            <label class="col-sm-5" for="start">Start Date</label>
						            <input class="col-sm-6" type="text" class="form-control" id="newAsgnStartDate" placeholder="YYYY-MM-DD">
						            <br>
						            <br>
						            <label class="col-sm-5" for="end">End Date</label>
						            <input class="col-sm-6" type="text" class="form-control" id="newAsgnEndDate" placeholder="YYYY-MM-DD">
						
						            <br>
												<br>
												<br>
                                            <div class="form-actions">
                                                <a class="btn btn-primary btn-block editCourseModalBtn" id="addAssBtn" data-dismiss="modal" onclick="addAss()">Save Assignment</a>
                                            </div>
                                        </form>
                                                            </div>
                          </div>
                          </div>
                          </div>
                          </div>
                          </div>
     </div>
     
       <div class="labs">
     <h1> Labs</h1>

    <!--div for classes-->
     <div class="user_classes panel">

     <!--on hours sign up button (take you to that class' sign up for hours pages)-->

     <div class="panel-body" >
     	<div id="labsCoursePanel">
				${allLabs}
				</div>
			<a class="btn btn-primary btn-sm editCourseBtn" data-toggle="modal" data-target="#addLabsModal">New Lab</a>
     <!--loop through classes to display, add a button to drop class for each-->
      </div>

            <div class="modal fade" id="labsModal" tabindex="-1" role="dialog" aria-labelledby="labsModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-lg">
                        <div class="modal-content">

                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button><br>
                            <h4 class="modal-title" id="labRelease" style="color: #000; text-align: center; font-weight:bold;">Edit</h4>
                          </div>
                          <div class="modal-body">
                                        <!-- <form class="editCourses_form" id="timeLimit_form" action="taHoursSetUp.html" method="POST"> -->
                              <div class="row">
                              <div class="col-sm-12" id="editCourseModalDiv">
                                 <form class="edit_form" id="edit_course_form">
						            <label class="col-sm-5" for="start">Start Date</label>
						            <input class="col-sm-6" type="text" class="form-control" id="labStartDate">
						            <br>
						            <br>
						            <label class="col-sm-5" for="end">End Date</label>
						            <input class="col-sm-6" type="text" class="form-control" id="labEndDate">
						
						            <br>
												<br>
												<br>
                                            <div class="form-actions">
                                                <a class="btn btn-primary btn-block editCourseModalBtn" id="changeLabBtn" data-dismiss="modal" onclick="changeLab()">Change Lab</a>
                                                <br>
                                                <br>
                                                <a class="btn btn-danger btn-block editCourseModalBtn" id="removeLabBtn" data-dismiss="modal" onclick="removeLab()">Remove Lab</a>
                                            </div>
                                        </form>
                                                            </div>
                          </div>
                          </div>
                          </div>
                          </div>
                          </div>
          <div class="modal fade" id="addLabsModal" tabindex="-1" role="dialog" aria-labelledby="addLabsModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-lg">
                        <div class="modal-content">

                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button><br>
                            <h4 class="modal-title" id="addLabRelease" style="color: #000; text-align: center; font-weight:bold;">Create a new lab!</h4>
                          </div>
                          <div class="modal-body">
                                        <!-- <form class="editCourses_form" id="timeLimit_form" action="taHoursSetUp.html" method="POST"> -->
                              <div class="row">
                              <div class="col-sm-12" id="editCourseModalDiv">
                                 <form class="edit_form" id="edit_course_form">
                                 	<label class="col-sm-5" for="labName">Name</label>
						            <input class="col-sm-6" type="text" class="form-control" id="newLabName" placeholder="Git 1">
						            <br>
						            <br>
						            <label class="col-sm-5" for="start">Start Date</label>
						            <input class="col-sm-6" type="text" class="form-control" id="newLabStartDate" placeholder="YYYY-MM-DD">
						            <br>
						            <br>
						            <label class="col-sm-5" for="end">End Date</label>
						            <input class="col-sm-6" type="text" class="form-control" id="newLabEndDate" placeholder="YYYY-MM-DD">
						
						            <br>
												<br>
												<br>
                                            <div class="form-actions">
                                                <a class="btn btn-primary btn-block editCourseModalBtn" id="addLabBtn" data-dismiss="modal" onclick="addLab()">Save Lab</a>
                                            </div>
                                        </form>
                                                            </div>
                </div>
                </div>
                </div>
                </div>
                </div>
     </div>
     </div>
     
          <div class="exams">
     <h1> Exams</h1>

    <!--div for classes-->
     <div class="user_classes panel">

     <!--on hours sign up button (take you to that class' sign up for hours pages)-->
     <div class="panel-body" >
     	<div id="examsCoursePanel">
     
				${allExams}
      </div>
      <a class="btn btn-primary btn-sm editCourseBtn" data-toggle="modal" data-target="#addExamModal">New Exam</a>					
      
      </div>

            <div class="modal fade" id="examModal" tabindex="-1" role="dialog" aria-labelledby="examModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-lg">
                        <div class="modal-content">

                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button><br>
                            <h4 class="modal-title" id="examRelease" style="color: #000; text-align: center; font-weight:bold;">Edit</h4>
                          </div>
                          <div class="modal-body">
                                        <!-- <form class="editCourses_form" id="timeLimit_form" action="taHoursSetUp.html" method="POST"> -->
                              <div class="row">
                              <div class="col-sm-12" id="editCourseModalDiv">
                                 <form class="edit_form" id="edit_course_form">

						            <label class="col-sm-5" for="start">Start Date</label>
						            <input class="col-sm-6" type="text" class="form-control" id="examStartDate">
						            <br>
						            <br>
						            <label class="col-sm-5" for="end">End Date</label>
						            <input class="col-sm-6" type="text" class="form-control" id="examEndDate">
						
						            <br>
												<br>
												<br>
                                                <a class="btn btn-primary btn-block editCourseModalBtn" id="changeExamBtn" data-dismiss="modal" onclick="changeExam()">Change Exam</a>
                                                <br>
                                                <br>
                                                <a class="btn btn-danger btn-block editCourseModalBtn" id="removeExamBtn" data-dismiss="modal" onclick="removeExam()">Remove Exam</a>
                                        </form>
                                                            </div>
                          </div>
                          </div>
                          </div>
                          </div>
                          </div>
                 <div class="modal fade" id="addExamModal" tabindex="-1" role="dialog" aria-labelledby="addExamModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-lg">
                        <div class="modal-content">

                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button><br>
                            <h4 class="modal-title" id="addExamRelease" style="color: #000; text-align: center; font-weight:bold;">Create a new exam!</h4>
                          </div>
                          <div class="modal-body">
                                        <!-- <form class="editCourses_form" id="timeLimit_form" action="taHoursSetUp.html" method="POST"> -->
                              <div class="row">
                              <div class="col-sm-12" id="editCourseModalDiv">
                                 <form class="edit_form" id="edit_course_form">
									<label class="col-sm-5" for="examName">Name</label>
						            <input class="col-sm-6" type="text" class="form-control" id="newExamName" placeholder="Midterm">
						            <br>
						            <br>
						            <label class="col-sm-5" for="start">Start Date</label>
						            <input class="col-sm-6" type="text" class="form-control" id="newExamStartDate" placeholder="YYYY-MM-DD">
						            <br>
						            <br>
						            <label class="col-sm-5" for="end">End Date</label>
						            <input class="col-sm-6" type="text" class="form-control" id="newExamEndDate" placeholder="YYYY-MM-DD">
						
						            <br>
												<br>
												<br>
                                            <div class="form-actions">
                                                <a class="btn btn-primary btn-block editCourseModalBtn" id="addExamBtn" data-dismiss="modal" onclick="addExam()">Save Exam</a>
                                            </div>
                                        </form>
                                                            </div>
                          </div>
                          </div>
                          </div>
                          </div>
                          </div>
     </div>  
        <div class="startHours">
   		<a class="btn btn-success btn-lg" id="setUpHours" onclick="returnToHours()" style="margin-left:33%;">Set Up Hours</a>
   </div>

</div>


     <!-- Again, we're serving up the unminified source for clarity. -->
     <script src="../js/jquery-2.1.1.js"></script>
     <!-- <script src="js/main.js"></script>-->
     <script src="../js/editCourse.js"></script>
          <script src="../js/bootstrap.min.js"></script>
  </body>
  <!-- See http://html5boilerplate.com/ for a good place to start
       dealing with real world issues like old browsers.  -->
</html>
