<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <title>${title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- In real-world webapps, css is usually minified and
         concatenated. Here, separate normalize from our code, and
         avoid minification for clarity. -->
<link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/html5bp.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    
  </head>
  <body>
    <a type="button" class="signOutBtn btn-lg btn" id="analysisBtn" onclick="startAnalytics()">Analytics</a>
    <a type="button" class="signOutBtn btn-lg btn btn-primary" style="margin-left:-5%; "onclick="myCourses()">My Courses</a>
    <br>
    <br>
    <br>
    <br>

  <div class="container">
     <h1> Welcome to ${course} Hours Set Up</h1>
    <div class="assignments">
    <div class="panel">
    <button class="btn btn-primary btn-sm" id="seeAssignments" data-toggle="collapse" data-target="#allAss" href="">See all Assignments</button>
    <a class="btn btn-primary btn-sm" id="editCourseBtn" onclick="taCourseSetUp()">Edit Course</a><br>
    <!--div for results-->
         
    <div class="panel-body">
    
     <div class="hoursSetUpCategories">
		<h3>Today's assignment</h3>
		<br>
		<h4 id="currAsign">${currAss}</h4>
		
      <!--populate with request-->
      <div class="questionsDiv">
                <h5 style="text-decoration: underline;">Questions</h5>
      <div class="currSubs" id="currSubs">
		${questions}
      </div>
            <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#subQModal">
              <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add question
            </button>
            <div class="modal fade" id="subQModal" tabindex="-1" role="dialog" aria-labelledby="qModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">

                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button><br>
                            <h4 class="modal-title" id="release" style="color: #000; text-align: center;">Add a question</h4>
                          </div>
                          <div class="modal-body">
                                        <!-- <form class="timeLimit_form" id="timeLimit_form" action="taHoursSetUp.html" method="POST"> -->
                                        <form class="q_form" id="q_form">
                                              <h4 style="color: #000; text-align: center;">Please enter the name of the question</h4>
												<input type="text" class="form-control" id="newQuestion" placeholder="Dijkstras">
												<br>
                                            <div class="form-actions">
                                                <button class="btn btn-primary" data-dismiss="modal" onclick="addQuestion()">Save question</button>
                                                <br>
                                                <br>
                                            </div>
                                        </form>
                          </div>
                          </div>
                          </div>
                          </div>

              <br>
     
      <!--div for results, loop through-->
      </div>
      </div>
            <div id="allAss" class="collapse">
      <hr>
      <h3>All Assignments</h3>
      ${allAss}
      <!-- <div class="assignment">Stars</div>
      <div class="assignment">Autocorrect</div>
      <div class="assignment">Bacon</div>
      <div class="assignment">Maps</div>-->

        </div>
      </div>
      </div>
     </div>


     <div class="timeLimit">

     <div class="panel">  
        <a id="editTimeLim" data-toggle="modal" data-target="#timeLimModal">Edit</a>   
      <h3>Time Limit</h3>
         <div class="panel-body">
           <div class="time">
              <h3 id="timeLimMinutes">10</h3><h5>minutes</h5>
           </div>

         </div>
     </div>

     </div>   
      <div class="editTimeLimit">

                     <div class="modal fade" id="timeLimModal" tabindex="-1" role="dialog" aria-labelledby="timeLimModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">

                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button><br>
                            <h4 class="modal-title" id="release" style="color: #000; text-align: center;">Set Time Limit</h4>
                          </div>
                          <div class="modal-body">
                                        <!-- <form class="timeLimit_form" id="timeLimit_form" action="{% url 'execute_release' %}" method="POST"> -->
                                        <form class="timeLimit_form" id="timeLimit_form">
                                              <h4 style="color: #000; text-align: center;">What is your desired time limit?</h4>
<input type="text" class="form-control" id="newTimeLim" placeholder="10"><h5 style="color: #000; text-align: center;">minutes</h5>
<br>
<!--                                             <div class="form-actions"> -->
                                                <button class="btn btn-primary" data-dismiss="modal" onclick="setTimeLimit()">Set</button>
                                                <br>
                                                <br>
<!--                                             </div> -->
                                        </form>
                          </div>
                          </div>
                          </div>
                          </div>
   </div>
   <div class="startHours">
   		<a class="btn btn-success btn-lg" id="startHoursBtn" style="margin-left:33%;" data-toggle="modal" data-target="#hoursModal">Start Hours</a>
   </div>
            <div class="modal fade" id="hoursModal" tabindex="-1" role="dialog" aria-labelledby="hoursModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">

                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button><br>
                            <h4 class="modal-title" id="release" style="color: #000; text-align: center;">Set hours length</h4>
                          </div>
                          <div class="modal-body">
                                        <!-- <form class="timeLimit_form" id="timeLimit_form" action="taHoursSetUp.html" method="POST"> -->
                                        <form class="hours_form" id="hours_form">
                                              <h4 style="color: #000; text-align: center;">How many hours will hours be held today?</h4>
												<input type="text" class="form-control" id="hoursLength" placeholder="3">
												<br>
												<div class="noApt" id="noApt">
												
													<input type="checkbox" id="noAptBox" value="No Appointments for This Session">
												<label for="noAptBox" style="font-weight: 100;">No Appointments</label>
												</div>
                                            <div class="form-actions">
                                                <button class="btn btn-primary" data-dismiss="modal" onclick="startHours()">Start session</button>
                                                <br>
                                                <br>
                                            </div>
                                        </form>
                          </div>
                          </div>
                          </div>
                          </div>
                     <div class="modal fade" id="resultModal" tabindex="-1" role="dialog" aria-labelledby="resultModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-body">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <div id="resultBody">
                          </div>
                          <br>
                          <a class="btn btn-primary btn-block" id="resultsOkBtn" data-dismiss="modal" aria-label="Close">Ok!</a>
                          </div>
                          </div>
                          </div>
                          </div>
   
</div>


     <!-- Again, we're serving up the unminified source for clarity. -->
     <script src="../js/jquery-2.1.1.js"></script>
     <!-- <script src="../js/main.js"></script>-->
     <script src="../js/taHoursSetUp.js"></script>
     <script src="../js/bootstrap.min.js"></script>
  </body>
  <!-- See http://html5boilerplate.com/ for a good place to start
       dealing with real world issues like old browsers.  -->
</html>
