<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <title>${title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- In real-world webapps, css is usually minified and
         concatenated. Here, separate normalize from our code, and
         avoid minification for clarity. -->
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/html5bp.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    
  </head>
  <body>
  <div class="container">
<a class="btn btn-success btn-lg" style="background-color: #000; border-color: #000;"onclick="startTimer()">Start Timer</a>
     <h1> ${course} Hours</h1>
     <br>
	 <br>
         <div class="row" style="padding-left:6%;">

  <!--NOTE: each time the page is reloaded, each of these divs must be repopulated-->
    <!--div for stduents in line-->
     <div class="col-sm-5 panel">
            <h3>Queue</h3>
     <div id="queue" class="queue">
		</div>
            <div class="modal fade" id="queueModal" tabindex="-1" role="dialog" aria-labelledby="qModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-lg">
                        <div class="modal-content" style="width:80%;">
                        <div class="modal-body" >
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button><br>
                          	<button class="btn btn-success queueBtn btn-lg" data-dismiss="modal" onclick="callStudent()">Call Student</button>
                          	<button class="btn btn-danger queueBtn btn-lg" data-dismiss="modal" onclick="removeStudent()">Remove Student</button>
                          </div>
                          </div>
                   </div>
             </div>
        </div>


<div id="timeLimit">${time}</div>

     <div class="col-sm-5 panel">
      <!--loop through questions from db-->

     <div class="onHoursBlock" id="appointments">
          </div>
                 <div class="modal fade" id="aptModal" tabindex="-1" role="dialog" aria-labelledby="aptModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-lg">
                        <div class="modal-content" style="width:80%;">
                        <div class="modal-body" >
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button><br>
                          	<button class="btn btn-success queueBtn btn-lg" data-dismiss="modal" onclick="checkOffApt()">CheckOff Appointment</button>
                          	<button class="btn btn-danger queueBtn btn-lg" data-dismiss="modal" onclick="cancelApt()">Cancel Appointment</button>
                          </div>
                          </div>
                   </div>
             </div>

     
    <!--loop through analyzed questions list-->
     <section class="onHoursBlock" id="clinicSuggs">
     
     </section>
     
<br>
     <section class="onHoursBlock" id="currQs">
      <h3>Questions for <span id="currAss">${currAss}</span></h3>
      ${questions}
     </section>
    <!--loop through popular questions list-->

     <br>
       </div>
    </div>
    <div class="row">
            <a class="setupBtn btn btn-success btn-lg" onclick="returnToSetup()">Return to Setup</a>
            <a class="setupBtn btn btn-danger btn-lg" onclick="endHours()">End Hours</a>
     </div>

     </div>
</div>


     <!-- Again, we're serving up the unminified source for clarity. -->
     <script src="../js/jquery-2.1.1.js"></script>
     <script src="../js/main.js"></script>
          <script src="../js/taOnHours.js"></script>
     <script src="../js/bootstrap.min.js"></script>
  </body>
  <!-- See http://html5boilerplate.com/ for a good place to start
       dealing with real world issues like old browsers.  -->
</html>
